<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="djagohandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python27\python2.exe|c:\python27\lib\site-packages\wfastcgi.pyc" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
	<appSettings>
		<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
		<add key="PYTHONPATH" value="C:\Users\FireFly\Desktop\mysite" />
		<add key="DJANGO_SETTINGS_MODULE" value="mysite.settings" />
		
	  </appSettings>
</configuration>